In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('final.csv')

In [3]:
print(data['3'].sum())

222.0

In [4]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
0,0,Amazon Conscript,1,Roar: Remove confused from a friendly creature.,6.0,nature,0,core,amazon,2,2,common,"[0.12499, 9.7e-05]"
1,1,Battlebard,1,Roar: Give a friendly Viking +2 strength.,2.0,neutral,0,core,viking,2,1,epic,"[1.0, 0.000802]"
2,2,Street Conjuror,1,Spell boost +1.,2.0,magic,0,core,mystic,1,3,rare,"[0.589, 0.0005]"
3,3,Spellsight Seer,1,Roar: Foresee 1.,1.0,magic,0,core,mystic,2,2,common,"[0.11, 8.1e-05]"
4,4,Switch Duelist,1,Hidden for 1 turn. At the end of each player's...,3.0,deception,0,core,guild,3,1,rare,"[0.6045, 0.000455]"

In [5]:
data.columns = ['index', 'Name','Mana_Cost', 'Description', 'Quantity','GOD', 'Price', 'Set','Tribe', 'Attack','Health','Rarity', 'Price']

In [18]:
data['Price']

   Price               Price
0      0  [0.12499, 9.7e-05]
1      0     [1.0, 0.000802]
2      0     [0.589, 0.0005]
3      0     [0.11, 8.1e-05]
4      0  [0.6045, 0.000455]
..   ...                 ...
64     0    [0.73, 0.000625]
65     0     [0.88, 0.00055]
66     0    [0.103, 7.2e-05]
67     0              [0, 0]
68     0   [0.1089, 7.9e-05]

[69 rows x 2 columns]

In [21]:
data['newPrice'], data['what']= data['Price'].astype(float)

ValueError: could not convert string to float: '[0.12499, 9.7e-05]'

In [19]:
data['newPrice']

0     Price
1     Price
2     Price
3     Price
4     Price
      ...
64    Price
65    Price
66    Price
67    Price
68    Price
Name: newPrice, Length: 69, dtype: object

In [12]:
data['what'].head()

0    Price
1    Price
2    Price
3    Price
4    Price
Name: what, dtype: object

In [ ]:
type(data['newPrice'])
data['newPrice']

In [ ]:
data['Price'].loc[0][1]

In [ ]:
data['Price'].info()