In [78]:
import pandas as pd

In [79]:
data = pd.read_csv('final.csv')

In [80]:
print(data['3'].sum())

448.0

In [81]:
data.head()

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0,Pack Stalk,1,Refresh mana equal to the number of creatures ...,3.0,nature,0,core,nope,0,0,common,0.110000,0.000096
1,1,Seeing Stone,1,Foresee 1.\nDraw a card.,2.0,magic,0,core,nope,0,0,common,0.114999,0.000093
2,2,Deadly Arsenal,1,Give a creature +2/+1.,3.0,war,0,core,nope,0,0,rare,0.397990,0.000347
3,3,Dark Knives,1,Give a friendly creature +3 strength. If it is...,4.0,deception,0,core,nope,0,0,rare,0.488910,0.000418
4,4,Fleshbind,1,Destroy one of your creatures and heal your go...,3.0,death,0,core,nope,0,0,common,0.110000,0.000100

In [82]:
data.columns = ['index', 'Name','Mana_Cost', 'Description', 'Quantity','GOD', 'Price', 'Set','Tribe', 'Attack','Health','Rarity', 'Price_GODS', 'Price_ETH']

In [83]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146 entries, 0 to 145
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        146 non-null    int64
 1   Name         146 non-null    object
 2   Mana_Cost    146 non-null    int64
 3   Description  146 non-null    object
 4   Quantity     142 non-null    float64
 5   GOD          146 non-null    object
 6   Price        146 non-null    int64
 7   Set          146 non-null    object
 8   Tribe        146 non-null    object
 9   Attack       146 non-null    int64
 10  Health       146 non-null    int64
 11  Rarity       146 non-null    object
 12  Price_GODS   146 non-null    float64
 13  Price_ETH    146 non-null    float64
dtypes: float64(3), int64(5), object(6)
memory usage: 16.1+ KB

In [84]:
data.head()

,index,Name,Mana_Cost,Description,Quantity,GOD,Price,Set,Tribe,Attack,Health,Rarity,Price_GODS,Price_ETH
0,0,Pack Stalk,1,Refresh mana equal to the number of creatures ...,3.0,nature,0,core,nope,0,0,common,0.110000,0.000096
1,1,Seeing Stone,1,Foresee 1.\nDraw a card.,2.0,magic,0,core,nope,0,0,common,0.114999,0.000093
2,2,Deadly Arsenal,1,Give a creature +2/+1.,3.0,war,0,core,nope,0,0,rare,0.397990,0.000347
3,3,Dark Knives,1,Give a friendly creature +3 strength. If it is...,4.0,deception,0,core,nope,0,0,rare,0.488910,0.000418
4,4,Fleshbind,1,Destroy one of your creatures and heal your go...,3.0,death,0,core,nope,0,0,common,0.110000,0.000100

In [85]:
data['Price'].loc[0][1]

IndexError: invalid index to scalar variable.

In [86]:
import requests
ETH_USD = 0.00000
GODS_USD = 0.00000
def updateRefPrices():
    url = 'https://api.coingecko.com/api/v3/simple/price?ids=ethereum&vs_currencies=usd'
    response = requests.get(url)
    data = response.json()
    print(data)
    ETH_USD = data['ethereum']['usd']
    headers ={ "X-RapidAPI-Key": "f9e79c11-b10e-4126-886e-64ae0574a74e", "Content-Type": "application/x-www-form-urlencoded"
               }
    url = 'https://pro-api.coinmarketcap.com/v1/tools/price-conversion'
    response = requests.get(url)
    data = response.json()

ETH_USD = 3193.44
GODS_USD = 3.17
    #ETH - GODS
def priceDifference(eth, gods):
    usd_dif = eth * ETH_USD - GODS_USD * gods
    return usd_dif

In [98]:
print(ETH_USD)

data['dif'] = data['Price_ETH'].astype(float) * ETH_USD - data['Price_GODS'].astype(float) * GODS_USD
data['Price_USD'] = data['Price_ETH'].astype(float) * ETH_USD

3193.44

## Data study
TOP 20 mintable cards with ETH benefit

In [104]:
data[data['Quantity']>2 ].sort_values('dif', ascending=False)[['Name', 'Quantity', 'Price_GODS', 'Price_ETH', 'Price_USD', 'dif' ]]

                  Name  Quantity  Price_GODS  Price_ETH  Price_USD       dif
51               Vrock       3.0    0.134000   0.000384   1.226281  0.801501
90            Firewine       4.0    0.300000   0.000352   1.124091  0.173091
67     Imperious Smite       3.0    0.130000   0.000161   0.514144  0.102044
50   Jinxblade Duelist       4.0    0.127000   0.000140   0.447082  0.044492
26    Recovering Sigil       3.0    0.110000   0.000117   0.373632  0.024932
..                 ...       ...         ...        ...        ...       ...
55    Lightning Strike       3.0    1.420000   0.001233   3.937512 -0.563888
25       Metamorphosis       5.0    0.860000   0.000643   2.053382 -0.672818
116         Born Again       3.0    0.799799   0.000570   1.820261 -0.715102
93       Redfume Serum       7.0    2.259270   0.002003   6.396460 -0.765426
14              Furies       3.0    9.499000   0.006900  22.034736 -8.077094

[95 rows x 6 columns]

TOP 20 mintable cards with GODS benefit

In [105]:
data[data['Quantity']>2 ].sort_values('dif', ascending=True)[['Name', 'Quantity', 'Price_GODS', 'Price_ETH', 'Price_USD', 'dif' ]]

                  Name  Quantity  Price_GODS  Price_ETH  Price_USD       dif
14              Furies       3.0    9.499000   0.006900  22.034736 -8.077094
93       Redfume Serum       7.0    2.259270   0.002003   6.396460 -0.765426
116         Born Again       3.0    0.799799   0.000570   1.820261 -0.715102
25       Metamorphosis       5.0    0.860000   0.000643   2.053382 -0.672818
55    Lightning Strike       3.0    1.420000   0.001233   3.937512 -0.563888
..                 ...       ...         ...        ...        ...       ...
26    Recovering Sigil       3.0    0.110000   0.000117   0.373632  0.024932
50   Jinxblade Duelist       4.0    0.127000   0.000140   0.447082  0.044492
67     Imperious Smite       3.0    0.130000   0.000161   0.514144  0.102044
90            Firewine       4.0    0.300000   0.000352   1.124091  0.173091
51               Vrock       3.0    0.134000   0.000384   1.226281  0.801501

[95 rows x 6 columns]